.navbar-header{
    width: 50%;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-flowerpower{
    color:white;
}

.navbar{
    background: limegreen;
    margin-bottom: 0px;
    border:none;
}

.navbar-flowerpower{
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.menu{
    height: 100%; /* 100% Full-height */
    width: 13%; /* 10% width*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: limegreen; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

.menu ul {
    list-style-type: none;
    padding: 0px 20px;
}

.menu li{
    margin-top: 20px;
}

.content{
    height: 100%; /* 100% Full-height */
    width: 86%; /* 89% width */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 13.5%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
}