
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@import url('menu.css');

a{
    color:white;
}

.content a{
    color: limegreen;
}


html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.limegreen-button{
    color:white;
    background: limegreen;
}

.front-img{
    width:95%;
    padding-top:20px;
}

.boeket-image{
    width: 75%;
}
.container {
    text-align: center;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

.winkel{
    height:200px;
    width: 100%;
}

table{
    width:100%;
}

table, th, tr,td{
    text-align: center;
    border:1px solid limegreen;
}
